body {
    background-color: whitesmoke;
}

.btn-cart {
    font-size: 18px;
    color: blueviolet;
    border-color: blueviolet;
    background-color: ivory;
    width: 150px;
    height: 35px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

.btn-cart:hover, .by-btn:hover {
    background-color: aliceblue;
}

.products {
    display: flex;
    justify-content: space-between;
}

.by-btn {
    color: blueviolet;
    border-color: blueviolet;
    background-color: ivory;
    display: block;
    margin-top: 15px;
}

